.borders {
  width: 50vw;
  /* border: ; */
  /* border-left-width: 1px;
  border-left-style: solid;
  border-color: darkkhaki; */
  border: 1px solid darkkhaki !important;
  border-bottom: 5px dashed gold;
  padding-left: 10px;
}

.box {
  /* margin-top: 10px; */
  /* width: 100px;
  height: 100px; */
  padding: 15px;
  background-color: green;
  /* 
  border: 2px solid yellow; */
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.box i {
  font-size: 36px;
  color: white;
}

.box1 {
  background-color: whitesmoke;
  border: 5px solid green;
  overflow: scroll;
  height: 150px;
  /* display: none; */
  opacity: 0;
}

.box1 .sticky {
  color: red;
  background-color: yellow;
  position: sticky;
  top: 0;
}

.box2 {
  height: 150px;
  max-width: 800px;
  border: 2px solid green;
  margin-top: 10px;
  position: relative;
  background-color: yellow;
}

.box3 {
  position: absolute;
  top: 0px;
  left: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid red;
  background-color: green;
  z-index: -999999999999999999999999;
}
