/* .firstsession {
  background-color: blue;
  color: white;
}

label {
  color: aqua;
} */

/* Basic Selectors */

* {
  margin: 0;
}

label {
  font-size: 24px;
  color: aqua;
  font-family: Arial, Helvetica, sans-serif;
}

.textGreen {
  color: green;
}

#dob {
  color: brown;
}

label[for*="J"] {
  color: darkslateblue;
}

form > div > p {
  background-color: gold;
  color: brown;
}

/* div > p {
  background-color: gold;
  color: brown;
} */

p + span {
  color: red;
}

p::before {
  content: "TEST";
  color: aqua;
  background-color: #fff123;
}

p {
  box-sizing: border-box;
  /* height: 25vh; */
  font-size: 2em;
  margin: 0;
  /* padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px; */
  padding: 10px 15px;
}
